

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game{
    user-select: none;
}

.choices{
    display: flex;
    width: 50rem;
    height: 20rem;
}

.title{
    text-align: center;
    border: solid;
    margin: 0em;
}

.description{
    justify-content: center;
}


.left{
    flex: 1;
    background-color: red;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.right{
    flex: 1;
    background-color: blue;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: transform 1s;
}

@keyframes scrollDown {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes scrollUp {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}